<div class="container main-container">
	<div class="row pt-4">
		<div class="col-md-8">
			<div class="card movie-details rounded-0">
				<img src="{{ targetMovie.image.url }}" class="h-100 w-100">
				<div class="target-movie-details">
					<div class="details-header p-2">
						<h4 class="text-capitalize text-white font-weight-bold">{{ targetMovie.title }}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="movie-right-side">
				<ul class="list-group bg-dark">
					<li class="list-group-item bg-light font-weight-bold rounded-0">Details</li>
					<li class="list-group-item bg-darker text-light">Rates : {{ targetMovie.rating }}</li>
					<li class="list-group-item bg-darker text-light">Created at : {{ targetMovie.createdAt | date}}</li>
					<li class="list-group-item bg-darker text-light">Released in  {{ targetMovie.releaseYear }}</li>
					<li class="list-group-item bg-darker text-light">Last update : {{ targetMovie.updatedAt | date}}</li>
					<li class="list-group-item bg-light"> Description </li>
					<li class="list-group-item bg-darker text-light">{{ targetMovie.description}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>