<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-capitalize text-white font-weight-bold">The best place to find fascinating actors through their movies and series!!</h1>
        </div>
        <div class="col-lg-8 align-self-baseline">
        		<div class="text-muted">Start Enjoying best movies and series</div><br>
            <a class="btn btn-dark rounded-pill js-scroll-trigger" href="#">
              <i class="fa fa-arrow-right"></i> Get started with Netmotions <i class="fa fa-arrow-left"></i>
            </a>
        </div>
      </div>
    </div>
</header>
<div class="container">
  	<div class="row py-4">
  		<div class="col-md-4 pb-2" *ngFor="let movie of movies; index as i">
  			<div class="card s-movie" title="Click to view details">
  				<div class="movie-banner" (click)="viewDetails(i)">
  					<img src="{{ movie.image.url }}" class="w-100 h-100">
  					<div class="movie-details">
	  					<div class="movie-header">
					  		<div class="movie-title pl-2">
		          		<h5 class="text-capitalize text-white text-center font-weight-bold">{{ movie.title }}</h5>
		        		</div>
				  		</div>
				  		<div class="text-center">
				  			<span class="text-light"><i class="fa fa-home"></i>{{ movie.rating }} rates</span>
				  		</div>
			  		</div>
  				</div>
  				<div class="movie-footer text-light bg-darker">
		  			<span (click)="rateMovie(movie)"><i class="fa fa-arrow-circle-up"></i> Rate</span>
		  			&nbsp;
		  			<span (click)="addToFavorites(movie)"><i class="fa fa-plus"></i> Add to favorites</span>
		  		</div>
			  </div>
  		</div>
  	</div>
  </div>